body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
}

.head-wrapper {
    box-sizing: border-box;
    background-color: coral;
    overflow: hidden;
    height: 100px;
    #main-header {
        text-align: center;
        color: black;
        #blog-title {
            height: 15px;
        }
    }
    #navbar {
        display: inline;
        margin: 0px;
        padding: 0%;
        overflow: hidden;
        ul {
            padding: 0%;
            display: flex;
            justify-content: space-evenly;
            li {
                list-style: none;
                border-top: 1px;
                a {
                    text-decoration: underline;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}

.content {
    overflow: auto;
    width: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column-reverse;
    .container {
        border-style: solid;
        border: 15px black;
        display: flex;
        flex-direction: row-reverse;
        .blog {
            width: 50%;
            border-style: solid;
            display: flex;
            flex-direction: column;
            right: 50%;
            .atas {
                display: flex;
                width: 100%;
                justify-content: space-between;
                #tanggal {
                    display: flex;
                    border-style: solid;
                    align-items: flex-start;
                    left: 30%;
                }
                #judul {
                    display: flex;
                    border-style: solid;
                    align-items: flex-end;
                    right: 70%;
                }
            }
            .paragrap {
                border-style: solid;
            }
        }
        .img-blog {
            padding: 0%;
            margin: 0%;
            width: 50%;
            border-style: solid;
            display: flex;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }
    }
}